$main-color: #1E7B12;
$error-color: #EE0101;

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin link-buttons {
  background-color: $main-color;
  color: #FFF;
  width: 45px;
  padding: 5px 12px;
  font-size: 14px;
  text-align: center;
  @include rounded-corners(5px);
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  font-family: verdana;
  font-size: 14px;

  .body-container {
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;

    .header-section {
      background-color: $main-color;
      color: #FFF;
      padding: 4px 30px;
      border-bottom: solid 5px darken($main-color, 10%);

      h1 {
        font-size: 30px;
      }
    }

    .footer-section {
      background-color: $main-color;
      color: #FFF;
      padding: 4px 30px;
      border-top: solid 5px darken($main-color, 10%);
    }
  }

  .form-row {
    margin-bottom: 15px;
    overflow: hidden;

    .row-label {
      color: $main-color;
      padding-top: 5px;
      text-align: left;
      float: left;
    }

    .row-field {
      float: left;
      margin-left: 10px;

      input {
        border: solid 1px $main-color;
      }
    }
  }

  .action-bar {
    padding: 5px;

    a {
      color: #FFF;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .notice {
    text-align: center;
    color: $error-color;
    font-size: 12px;
  }
}
