// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signin-container {
  margin: 50px 60px;

  .signin-form {
    padding: 30px;
    width: 485px;
    border-right: 2px solid $main-color;

    .form-row {
      .row-label {
        color: $main-color;
        padding-top: 5px;
      }

      .row-field {
        input {
          border: 1px solid $main-color;
          @include rounded-corners(5px);
          height: 35px;
          width: 380px;
          color: $main-color;
        }
      }
    }

    .action-bar {
      padding: 5px 0;

      #connect-me {
        @include submit-btn;
        padding: 5px 10px;

        &:hover {
          background-color: lighten($main-color, 1%);
        }
      }
    }
  }

  .social-signin {
    float: right;
    width: 400px;
    padding: 30px 50px;

    h3 {
      color: $main-color;
    }

    li {
      display: inline;
    }
  }
}
