<!DOCTYPE html>
<html>
<head>
  <title>NginxUnicorn: Welcome</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="body-container">
    <div class="header-section">
      <div id="header-text"><h1>Welcome to NginxUnicorn!</h1></div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <div class="footer-section"></div>
  </div>
</body>
</html>
